{% extends 'NA_WebApp/_masterpage.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="wrap clearfix">
        <!--breadcrumbs-->
        <nav class="breadcrumbs">
            <ul>
                <li><a href="{% url 'NA_WebApp-home' %}" title="Home">Home</a></li>
                <li>My Profile</li>
            </ul>
        </nav>


        <!--//breadcrumbs-->


        <!--row-->


        <!--content-->
        <section class="content">
            <!--row-->
            <div class="row">
                <!--profile left part-->
                <div class="my_account one-fourth">
                    <figure>
                        <img src={{ user.profile.image.url }} alt="Avatar" title="click to upload a profile image." id="img_Avatar"/>

                    </figure>
                    <div class="container">
                        <h2>{{ user.get_full_name }}</h2>
                    </div>


                </div>
                <!--//profile left part-->

                <div class="three-fourth">
                    <nav class="tabs">
                        <ul>
                            <li class="active"><a href="#about" title="About me">About me</a></li>
                            <li><a href="#preferences" title="My Preferences">My Preferences</a></li>
                            <li><a href="#recipes" title="My Recipes">My recipes</a></li>
                            <li><a href="#posts" title="Social Network">Social Network</a></li>
                        </ul>
                    </nav>

                    <!--about-->
                    <div class="tab-content" id="about">
                        <div class="row">
                            <!-- My Identity -->
                            <div class="col col-md12">
                                <form action="profile" method="POST" enctype="multipart/form-data" id="frmIdentity">
                                    <div class="row">
                                        <div class="col col-md-7">


                                            {% csrf_token %}


                                            <div class="card">
                                                <div class="card-header lightred">
                                                    My Identity
                                                </div>
                                                <div class="card-body">


                                                    <fieldset class="form-group">
                                                        {{ form|crispy }}

                                                    </fieldset>


                                                    <div class="form-group">
                                                        <button class="btn lightred float-right" type="submit">Update My Profile</button>
                                                    </div>


                                                </div>
                                            </div>


                                        </div>
                                        <!-- Geo Location -->
                                        <div class="col col-md-5">
                                            <div class="card">
                                                <div class="card-header lightred">
                                                    My Location
                                                </div>
                                                <div class="card-body">

                                                    <div id="Map_Geo" style="width: auto; height: 410px;"></div>

                                                    <div class="clearfix"></div>
                                                    <br>
                                                    <fieldset class="form-group" id="fldsetGeoLocation">

                                                        <div class="form-group row">
                                                            <label for="txlat" class="col-md-4 col-form-label">Lat</label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control textbox-red"
                                                                       id="txLat"
                                                                       placeholder="Use the map above" value="{{ user.profile.lat }}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="txLng" class="col-md-4 col-form-label">Lng</label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control textbox-red"
                                                                       id="txLng"
                                                                       placeholder="Use the map above" value="{{ user.profile.lng }}">
                                                            </div>
                                                        </div>
                                                    </fieldset>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                    <!--//about-->


                    <!--preferences-->
                    <div class="tab-content" id="preferences">

                        <div class="row">

                            <!-- My Preferences -->
                            <div class="col col-md-12">
                                <form>
                                    <div class="row">
                                        <div class="col col-md-7">

                                            {% csrf_token %}

                                            <div class="card">
                                                <div class="card-header lightred">
                                                    My Dieatery / Preferences
                                                </div>
                                                <div class="card-body">


                                                    <fieldset class="form-group">
                                                        <!-- Diseses Component -->
                                                        <div class="form-group ">
                                                            <div class="col col-md-12">
                                                                <div class="row">

                                                                    <label for="txDis">My Diseases:</label>

                                                                    <input type="text" class="form-control" id="txDis" placeholder="Enter a disease name"
                                                                           aria-describedby="diseaseHelp"
                                                                           selectorDiv="divSelectDiseases">


                                                                </div>
                                                                <div class="row">
                                                                    <div id="divSelectDiseases" class="col-md-12 makeSearchSelectedContainer">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Allergies Component -->
                                                        <div class="form-group ">
                                                            <div class="col col-md-12">
                                                                <div class="row">

                                                                    <label for="txDis">My Allergies:</label>

                                                                    <input type="text" class="form-control" id="txAllergies" placeholder="Enter an Allergy name name"
                                                                           aria-describedby="diseaseHelp"
                                                                           selectorDiv="divSelectAllergies">


                                                                </div>
                                                                <div class="row">
                                                                    <div id="divSelectAllergies" class="col-md-12 makeSearchSelectedContainer">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <!-- Food Preferences Component -->
                                                        <div class="form-group ">
                                                            <div class="col col-md-12">
                                                                <div class="row">

                                                                    <label for="txDis">My Food Preferences:</label>

                                                                    <input type="text" class="form-control" id="txFoodPreferences"
                                                                           placeholder="Enter an Preference (chinese,fish,vegan,fries..)"
                                                                           aria-describedby="diseaseHelp"
                                                                           selectorDiv="divSelectedFoodPreferences">


                                                                </div>
                                                                <div class="row">
                                                                    <div id="divSelectedFoodPreferences" class="col-md-12 makeSearchSelectedContainer">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Resticted Labels Component -->
                                                        <div class="form-group ">
                                                            <div class="col col-md-12">
                                                                <div class="row">

                                                                    <label for="txDis">Away From</label>

                                                                    <input type="text" class="form-control" id="txAwayFrom"
                                                                           placeholder="Enter a food category (chinese,fish,vegan,fries..)"
                                                                           aria-describedby="diseaseHelp"
                                                                           selectorDiv="divSelectedAwayFrom">


                                                                </div>
                                                                <div class="row">
                                                                    <div id="divSelectedAwayFrom" class="col-md-12 makeSearchSelectedContainer">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <!-- Resticted Ingredients Component -->
                                                        <div class="form-group ">
                                                            <div class="col col-md-12">
                                                                <div class="row">

                                                                    <label for="txRestrictedIngredient">Restricted Ingredients</label>

                                                                    <input type="text" class="form-control" id="txRestrictedIngredient"
                                                                           placeholder="Enter a Restricted Ingredient for you (peanut,tomato,garlic...)"
                                                                           aria-describedby="diseaseHelp"
                                                                           selectorDiv="divRestrictedIngredient">


                                                                </div>
                                                                <div class="row">
                                                                    <div id="divRestrictedIngredient" class="col-md-12 makeSearchSelectedContainer">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </fieldset>
                                                    <div class="form-group">
                                                        <div class="alert alert-danger" role="alert" id="preferences_error">

                                                        </div>
                                                        <btn class="btn lightred float-right" id="btnsaveme">Save</btn>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                    <!--//preferences-->


                    <!--my recipes-->
                    <div class="tab-content" id="recipes">
                        <div class="entries row">
                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %}" alt=""/>
                                    <figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a>
                                    </figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a>
                                            </div>
                                            <div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="recipe.html#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->

                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %}" alt=""/>
                                    <figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a>
                                    </figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
                                            <div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="recipe.html#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->

                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %}" alt=""/>
                                    <figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a>
                                    </figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
                                            <div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="recipe.html#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                        </div>
                    </div>
                    <!--//my recipes-->


                    <!--my favorites-->
                    <div class="tab-content" id="favorites">
                        <div class="entries row">
                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %}" alt=""/>
                                    <figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a>
                                    </figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a>
                                            </div>
                                            <div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="recipe.html#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->

                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %}" alt=""/>
                                    <figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a>
                                    </figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
                                            <div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="recipe.html#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->

                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %}" alt=""/>
                                    <figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a>
                                    </figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
                                            <div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="recipe.html#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                        </div>
                    </div>
                    <!--//my favorites-->

                    <!--my posts-->
                    <div class="tab-content" id="posts">
                        <!--entries-->
                        <div class="entries row">
                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %} " alt=""/>
                                    <figcaption><a href="blog_single.html"><i class="icon icon-themeenergy_eye2"></i>
                                        <span>View post</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="blog_single.html">Barbeque party</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="date"><i class="fa fa-calendar"></i><a href="#">22 Dec 2014</a>
                                            </div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="blog_single.html#comments">27</a></div>
                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                                    </div>
                                </div>
                            </div>
                            <!--item-->

                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %}" alt=""/>
                                    <figcaption><a href="blog_single.html"><i class="icon icon-themeenergy_eye2"></i>
                                        <span>View post</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="blog_single.html">How to make sushi</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="date"><i class="fa fa-calendar"></i><a href="#">22 Dec 2014</a>
                                            </div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="blog_single.html#comments">27</a></div>
                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                                    </div>
                                </div>
                            </div>
                            <!--item-->

                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src="{% static '/NA_WebApp/images/img.jpg' %}" alt=""/>
                                    <figcaption><a href="blog_single.html"><i class="icon icon-themeenergy_eye2"></i>
                                        <span>View post</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="blog_single.html">Make your own bread</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="date"><i class="fa fa-calendar"></i><a href="#">22 Dec 2014</a>
                                            </div>
                                            <div class="comments"><i class="fa fa-comment"></i><a
                                                    href="blog_single.html#comments">27</a></div>
                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod. Lorem ipsum dolor sit amet . . . </p>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                        </div>
                        <!--//entries-->
                    </div>
                    <!--//my posts-->
                </div>
            </div>
            <!--//row-->
        </section>
        <!--//content-->
    </div>


{% endblock content %}


{% block scripts %}

    <script src="{% static 'NA_WebApp/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'NA_WebApp/js/auth/profile.js' %}"></script>

    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="{% static 'NA_WebApp/js/locationpicker.jquery.min.js' %}"></script>
    <script src="{% static 'NA_WebApp/js/components/GlobalComponents.js' %}"></script>
{% endblock scripts %}