{% extends 'NA_WebApp/_masterpage.html' %}
{% load static %}
{% block content %}




    <!--wrap-->
    <div class="wrap clearfix">
        <!--breadcrumbs-->
        <nav class="breadcrumbs">
            <ul>
                <li><a href="index.html" title="Home">Home</a></li>
                <li><a href="#" title="Recipes">Recipes</a></li>
                <li>Recipe No: {{ recipe.id }}</li>
            </ul>
        </nav>
        <!--//breadcrumbs-->

        <!--row-->
        <div class="row">
            <header class="s-title">
                <h1>{{ recipe.title }}</h1>
            </header>
            <!--content-->
            <section class="content full-width">
                <!--recipe-->
                <div class="recipe">
                    <div class="row">
                        <!--two-third-->
                        <article class="one-half">
                            <div class="image"><a href="#"><img src=" {{ recipe.photo.url }}" onerror="this.src='/static/NA_WebApp/images/img.jpg'" alt=""/></a></div>
                            <div class="intro"><h3>{{ recipe.title }} - by : {{ user.get_full_name }}</h3>
                                <p>{{ recipe.description }}</p></div>
                            <div class="instructions container box">

                                <p class="drop-cap ">{{ recipe.instructions }}</p>

                            </div>
                        </article>
                        <!--//two-third-->

                        <!--one-third-->
                        <article class="one-half">
                            <dl class="basic">
                                <dt>Preparation time</dt>
                                <dd>{{ recipe.prepTime }} mins</dd>
                                <dt>Cooking time</dt>
                                <dd>{{ recipe.cookTime }} mins</dd>
                                <dt>Difficulty</dt>
                                <dd>{{ recipe.get_difficulity_display }}</dd>
                                <dt>Serves</dt>
                                <dd>{{ recipe.portions }} people</dd>
                            </dl>

                            <dl class="user">
                                <dt>Category</dt>
                                <dd>-------</dd>
                                <dt>Posted by</dt>
                                <dd>{{ user.get_full_name }}</dd>
                            </dl>

                            <dl class="ingredients">

                                {% for ing in recipe.recipe_ingredients_set.all %}
                                    <dt>{{ ing.quantity }} {{ ing.portion_name }}</dt>
                                    <dd>{{ ing.ingredient.name }}</dd>

                                {% endfor %}


                            </dl>

                            <section>
                                <div class="widget nutrition">
                                    <h3>Nutrition facts <span>(per serving)</span></h3>
                                    <table>
                                        <tr>
                                            <td>Calories</td>
                                            <td>{{ energy.normalize }} kcal</td>
                                        </tr>
                                        {% for n in nutrients %}
                                            <tr>
                                                <td>{{   n.nutrient }}</td>
                                                <td>{{ n.amount.normalize }} {{ n.unit }}</td>
                                            </tr>
                                        {% endfor %}



                                    </table>
                                </div>
                            </section>
                        </article>
                        <!--//one-third-->
                    </div>
                </div>
                <!--//recipe-->


            </section>
            <!--//content-->


        </div>
        <!--//row-->

        <div class="row">


            <aside class="sidebar one-fourth">


                <div class="widget share">
                    <ul class="boxed">
                        <li class="light"><a href="#" title="Facebook"><i class="fa fa-facebook"></i> <span>Share on Facebook</span></a></li>
                        <li class="medium"><a href="#" title="Twitter"><i class="fa fa-twitter"></i> <span>Share on Twitter</span></a></li>
                        <li class="dark"><a href="#" title="Favourites"><i class="fa fa-heart"></i> <span>Add to Favourites</span></a></li>
                    </ul>
                </div>

                <div class="widget members">
                    <h3>Members who liked this recipe</h3>
                    <ul class="boxed">
                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Kimberly C.</span></a></div>
                        </li>
                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Alex J.</span></a></div>
                        </li>
                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Denise M.</span></a></div>
                        </li>

                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Jennifer W.</span></a></div>
                        </li>
                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Anabelle Q.</span></a></div>
                        </li>
                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Thomas M.</span></a></div>
                        </li>
                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Michelle S.</span></a></div>
                        </li>
                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Bryan A.</span></a></div>
                        </li>
                        <li>
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/><span>Bryan A.</span></a></div>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="three-fourth">
                <!--comments-->
                <div class="comments" id="comments">
                    <h2>5 comments </h2>
                    <ol class="comment-list">
                        <!--comment-->
                        <li class="comment depth-1">
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/></a></div>
                            <div class="comment-box">
                                <div class="comment-author meta">
                                    <strong>Kimberly C.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                                </div>
                                <div class="comment-text">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                                </div>
                            </div>
                        </li>
                        <!--//comment-->

                        <!--comment-->
                        <li class="comment depth-1">
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/></a></div>
                            <div class="comment-box">
                                <div class="comment-author meta">
                                    <strong>Alex J.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                                </div>
                                <div class="comment-text">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                                </div>
                            </div>
                        </li>
                        <!--//comment-->

                        <!--comment-->
                        <li class="comment depth-2">
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/></a></div>
                            <div class="comment-box">
                                <div class="comment-author meta">
                                    <strong>Kimberly C.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                                </div>
                                <div class="comment-text">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                                </div>
                            </div>
                        </li>
                        <!--//comment-->

                        <!--comment-->
                        <li class="comment depth-3">
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/></a></div>
                            <div class="comment-box">
                                <div class="comment-author meta">
                                    <strong>Alex J.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                                </div>
                                <div class="comment-text">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                                </div>
                            </div>
                        </li>
                        <!--//comment-->

                        <!--comment-->
                        <li class="comment depth-1">
                            <div class="avatar"><a href="my_profile.html"><img src="/static/NA_WebApp/images/avatar.jpg" alt=""/></a></div>
                            <div class="comment-box">
                                <div class="comment-author meta">
                                    <strong>Denise M.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                                </div>
                                <div class="comment-text">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                                </div>
                            </div>
                        </li>
                        <!--//comment-->
                    </ol>
                </div>
                <!--//comments-->

                <!--respond-->
                <div class="comment-respond" id="respond">
                    <h2>Leave a reply</h2>
                    <div class="container">
                        <p><strong>Note:</strong> Comments on the web site reflect the views of their authors, and not necessarily the views of the socialchef internet portal.
                            Requested to refrain from insults, swearing and vulgar expression. We reserve the right to delete any comment without notice explanations.</p>
                        <p>Your email address will not be published. Required fields are signed with <span class="req">*</span></p>
                        <form>
                            <div class="f-row">
                                <div class="third">
                                    <input type="text" placeholder="Your name"/>
                                    <span class="req">*</span>
                                </div>

                                <div class="third">
                                    <input type="email" placeholder="Your email"/>
                                    <span class="req">*</span>
                                </div>

                                <div class="third">
                                    <input type="text" placeholder="Your website"/>
                                </div>

                            </div>
                            <div class="f-row">
                                <textarea></textarea>
                            </div>

                            <div class="f-row">
                                <div class="third bwrap">
                                    <input type="submit" value="Submit comment"/>
                                </div>
                            </div>

                            <div class="bottom">
                                <div class="f-row checkbox">
                                    <input type="checkbox" id="ch1"/>
                                    <label for="ch1">Notify me of replies to my comment via e-mail</label>
                                </div>
                                <div class="f-row checkbox">
                                    <input type="checkbox" id="ch2"/>
                                    <label for="ch2">Notify me of new articles by email.</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--//respond-->
            </div>

        </div>


    </div>
    <!--//wrap-->

{% endblock content %}


{% block scripts %}

    {#    <script src="{% static 'NA_WebApp/js/jquery.validate.min.js' %}"></script>#}
    {#    <script src="{% static 'NA_WebApp/js/auth/login.js' %}"></script>#}

{% endblock scripts %}