<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="SocialChef - Social Recipe HTML Template" />
	<meta name="description" content="SocialChef - Social Recipe HTML Template">
	<meta name="author" content="themeenergy.com">
	
	<title>SocialChef</title>
	
	<link rel="stylesheet" href="../../../static/scwebapp/css/style.css" />
	<link rel="stylesheet" href="../../../static/scwebapp/css/icons.css" />
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800" rel="stylesheet">
	<script src="https://use.fontawesome.com/e808bf9397.js"></script>
	<link rel="shortcut icon" href="../../../static/scwebapp/images/favicon.ico" />
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!--preloader-->
	<div class="preloader">
		<div class="spinner"></div>
	</div>
	<!--//preloader-->
	
	<!--header-->
	<header class="head" role="banner">
		<!--wrap-->
		<div class="wrap clearfix">
			<a href="index.html" title="SocialChef" class="logo"><img src="../../../static/scwebapp/images/ico/logo.png" alt="SocialChef logo" /></a>
			
			<nav class="main-nav" role="navigation" id="menu">
				<ul>
					<li><a href="index.html" title="Home"><span>Home</span></a></li>
					<li class="current-menu-item"><a href="recipes.html" title="Recipes"><span>Recipes</span></a>
						<ul>
							<li><a href="recipes2.html" title="Recipes 2">Recipes 2</a></li><li><a href="recipe.html" title="Recipe">Recipe</a></li>
						</ul>
					</li>
					<li><a href="blog.html" title="Blog"><span>Blog</span></a>
						<ul>
							<li><a href="blog_single.html" title="Blog post">Blog post</a></li>
						</ul>
					</li>
					<li><a href="#" title="Pages"><span>Pages</span></a>
						<ul>
							<li><a href="left_sidebar.html" title="Left sidebar page">Left sidebar page</a></li>
							<li><a href="right_sidebar.html" title="Right sidebar page">Right sidebar page</a></li>
							<li><a href="two_sidebars.html" title="Both sidebars page">Both sidebars page</a></li>
							<li><a href="full_width.html" title="Full width page">Full width page</a></li>
							<li><a href="login.html" title="Login page">Login page</a></li><li><a href="register.html" title="Register page">Register page</a></li>
							<li><a href="error404.html" title="Error page">Error page</a></li>
						</ul>
					</li>
					<li><a href="#" title="Features"><span>Features</span></a>
						<ul>
							<li><a href="icons.html" title="Icons">Icons</a></li>
							<li><a href="grid.html" title="Grid">Grid</a></li>
							<li><a href="shortcodes.html" title="Shortcodes">Shortcodes</a></li>
							<li><a href="pricing.html" title="Pricing tables">Pricing tables</a></li>
						</ul>
					</li>
					<li><a href="contact.html" title="Contact"><span>Contact</span></a></li>
					<li><a href="http://themeforest.net/item/socialchef-social-recipe-html-template/8568727?ref=themeenergy" title="Buy now"><span>Buy now</span></a></li>
				</ul>
			</nav>
			
			<nav class="user-nav" role="navigation">
				<ul>
					<li class="light"><a href="find_recipe.html" title="Search for recipes"><i class="icon icon-themeenergy_search"></i> <span>Search for recipes</span></a></li>
					<li class="medium"><a href="my_profile.html" title="My account"><i class="icon icon-themeenergy_chef-hat"></i> <span>My account</span></a></li>
					<li class="dark"><a href="submit_recipe.html" title="Submit a recipe"><i class="icon icon-themeenergy_fork-spoon"></i> <span>Submit a recipe</span></a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!--//header-->
	
	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="index.html" title="Home">Home</a></li>
					<li>Recipes</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>Recipes</h1>
				</header>
				
				<!--content-->
				<section class="content three-fourth">
					<!--entries-->
					<div class="entries row">
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Refreshing banana split with a twist for adults</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Sushi mania: this is the best sushi you have ever tasted</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Princess puffs - an old classic at its best</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Tasty salmon apetizers with sour cream</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">An incredible vegetarian hamburger</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Spaghetti carbonara with rustic bread</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Homemade cheesy spinach pizza with an egg on top</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Heavenly light and creamy vanilla tart</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third">
							<figure>
								<img src="../../../static/scwebapp/images/img.jpg" alt="" />
								<figcaption><a href="recipe.html"><i class="icon icon-themeenergy_eye2"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="recipe.html">Exquisite plum and cherry pie</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
										<div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
										<div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<div class="quicklinks">
							<a href="#" class="button">More recipes</a>
							<a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
						</div>
					</div>
					<!--//entries-->
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth">
					<div class="widget">
						<ul class="categories right">
							<li class="active"><a href="#">All recipes</a></li>
							<li><a href="#">Apetizers</a></li>
							<li><a href="#">Cocktails</a></li>
							<li><a href="#">Deserts</a></li>
							<li><a href="#">Eggs</a></li>
							<li><a href="#">Equipment</a></li>
							<li><a href="#">Events</a></li>
							<li><a href="#">Fish</a></li>
							<li><a href="#">Fitness</a></li>
							<li><a href="#">Healthy</a></li>
							<li><a href="#">Asian</a></li>
							<li><a href="#">Mexican</a></li>
							<li><a href="#">Pizza</a></li>
							<li><a href="#">Kids</a></li>
							<li><a href="#">Meat</a></li>
							<li><a href="#">Snacks</a></li>
							<li><a href="#">Salads</a></li>
							<li><a href="#">Storage</a></li>
							<li><a href="#">Vegetarian</a></li>
						</ul>
					</div>
					<div class="widget">
						<h3>Advertisment</h3>
						<a href="#"><img src="../../../static/scwebapp/images/advertisment.jpg" alt="" /></a>
					</div>
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->

	<!--footer-->
	<footer class="foot" role="contentinfo">
		<div class="wrap clearfix">
			<div class="row">
				<article class="one-half">
					<h5>About SocialChef Community</h5>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
				</article>
				<article class="one-fourth">
					<h5>Need help?</h5>
					<p>Contact us via phone or email</p>
					<p><em>T:</em>  +1 555 555 555<br /><em>E:</em>  <a href="#">socialchef@email.com</a></p>
				</article>
				<article class="one-fourth">
					<h5>Follow us</h5>
					<ul class="social">
						<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
						<li><a href="#" title="rss"><i class="fa  fa-fw fa-rss"></i></a></li>
						<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
						<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
						<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
						<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
					</ul>
				</article>
				
				<div class="bottom">
					<p class="copy">Copyright 2016 SocialChef. All rights reserved</p>
					
					<nav class="foot-nav">
						<ul>
							<li><a href="index.html" title="Home">Home</a></li>
							<li><a href="recipes.html" title="Recipes">Recipes</a></li>
							<li><a href="blog.html" title="Blog">Blog</a></li>
							<li><a href="contact.html" title="Contact">Contact</a></li>    
							<li><a href="find_recipe.html" title="Search for recipes">Search for recipes</a></li>
							<li><a href="login.html" title="Login">Login</a></li>	<li><a href="register.html" title="Register">Register</a></li>													
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!--//footer-->
	
	<script src="../../../static/scwebapp/js/jquery-3.1.0.min.js"></script>
	<script src="../../../static/scwebapp/js/jquery.uniform.min.js"></script>
	<script src="../../../static/scwebapp/js/jquery.slicknav.min.js"></script>
	<script src="../../../static/scwebapp/js/scripts.js"></script>
</body>
</html>


