{% extends 'NA_WebApp/_masterpage.html' %}
{% load static %}
{% block content %}


    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">


            <!--content-->
            <section class="content three-fourth">
                <!--cwrap-->
                <div class="cwrap">
                    <!--entries-->
                    <div class="entries row">
                        <!--featured recipe-->
                        <div class="featured two-third">
                            <header class="s-title">
                                <h2 class="ribbon">Recipe of the Day</h2>
                            </header>
                            <article class="entry">
                                <figure>
                                    <img src=" {{ recipe.photo.url }}" onerror="this.src='/static/NA_WebApp/images/img.jpg'" alt=""/>
                                    <figcaption><a href="{% url 'NA_WebApp-recipe_details' %}?recipeId={{ recipe.id }}"><i class="icon icon-themeenergy_eye2"></i>
                                        <span>View recipe</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="recipe.html">{{ recipe.title }}</a></h2>
                                    <p>{{ Recipe.description }} </p>
                                    <div class="actions">
                                        <div>
                                            <a href="{% url 'NA_WebApp-recipe_details' %}?recipeId={{ recipe.id }}" class="button">See the full recipe</a>

                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!--//featured recipe-->

                        <!--featured member-->
                        <div class="featured one-third">
                            <header class="s-title">
                                <h2 class="ribbon star">Featured member</h2>
                            </header>
                            <article class="entry">
                                <figure>
                                    <img  src=" {{ recipe.user.profile.image.url }}" onerror="this.src='/static/NA_WebApp/images/avatar.jpg'"  alt=""/>
                                    <figcaption><a href="{% url 'NA_WebApp-show_profile' %}?profileid={{ recipe.user.profile.id }}"><i class="icon icon-themeenergy_eye2"></i>
                                        <span>View member</span></a>
                                    </figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="{% url 'NA_WebApp-show_profile' %}?profileid={{ recipe.user.profile.id }}">{{ recipe.user.get_full_name }}</a></h2>
                                    <blockquote><i class="fa fa-quote-left"></i>Traditional dishes and fine bakery products accompanied by beautiful photographs to bend around and
                                        attract the tryout! Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                    </blockquote>
                                    <div class="actions">
                                        <div>
                                            <a href="{% url 'NA_WebApp-show_profile' %}?profileid={{ recipe.user.profile.id }}" class="button">Check out her recipes</a>
                                            <div class="more"><a href="#">See past featured members</a></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!--//featured member-->
                    </div>
                    <!--//entries-->
                </div>
                <!--//cwrap-->

                <!--cwrap-->
                <div class="cwrap">
                    <header class="s-title">
                        <h2 class="ribbon bright">Latest recipes</h2>
                    </header>

                    <!--entries-->
                    <div class="entries row">

                        {% for r in last %}
                            <!--item-->
                            <div class="entry one-third">
                                <figure>
                                    <img src=" {{ r.photo.url }}" onerror="this.src='/static/NA_WebApp/images/img.jpg'" alt=""/>
                                    <figcaption><a href="{% url 'NA_WebApp-recipe_details' %}?recipeId={{ r.id }}"><i class="icon icon-themeenergy_eye2"></i>
                                        <span>View recipe</span></a>
                                    </figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="{% url 'NA_WebApp-recipe_details' %}?recipeId={{ r.id }}">{{ r.title }}</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-medium"></i><a href="#">{{ r.get_difficulity_display }}</a></div>
                                            <div class="likes"><i class="fa fa-heart"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="fa fa-comment"></i><a href="#">3</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                        {% endfor %}




                        <div class="quicklinks">
                            <a href="#" class="button">More recipes</a>
                            <a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
                        </div>
                    </div>
                    <!--//entries-->
                </div>
                <!--//cwrap-->


            </section>
            <!--//content-->


            <!--right sidebar-->
            <aside class="sidebar one-fourth">
                <div class="widget">
                    <h3>Recipe Categories</h3>
                    <ul class="boxed">
                        <li class="light"><a href="recipes.html" title="Appetizers"><i class="icon icon-themeenergy_pasta"></i> <span>Apetizers</span></a></li>
                        <li class="medium"><a href="recipes.html" title="Cocktails"><i class="icon icon-themeenergy_margarita2"></i> <span>Cocktails</span></a></li>
                        <li class="dark"><a href="recipes.html" title="Deserts"><i class="icon icon-themeenergy_cupcake"></i> <span>Deserts</span></a></li>

                        <li class="medium"><a href="recipes.html" title="Cocktails"><i class="icon icon-themeenergy_eggs"></i> <span>Eggs</span></a></li>
                        <li class="dark"><a href="recipes.html" title="Equipment"><i class="icon icon-themeenergy_blender"></i> <span>Equipment</span></a></li>
                        <li class="light"><a href="recipes.html" title="Events"><i class="icon icon-themeenergy_turkey"></i> <span>Events</span></a></li>

                        <li class="dark"><a href="recipes.html" title="Fish"><i class="icon icon-themeenergy_fish2"></i> <span>Fish</span></a></li>
                        <li class="light"><a href="recipes.html" title="Ftness"><i class="icon icon-themeenergy_biceps"></i> <span>Fitness</span></a></li>
                        <li class="medium"><a href="recipes.html" title="Healthy"><i class="icon icon-themeenergy_apple2"></i> <span>Healthy</span></a></li>

                        <li class="light"><a href="recipes.html" title="Asian"><i class="icon icon-themeenergy_sushi"></i> <span>Asian</span></a></li>
                        <li class="medium"><a href="recipes.html" title="Mexican"><i class="icon icon-themeenergy_peper"></i> <span>Mexican</span></a></li>
                        <li class="dark"><a href="recipes.html" title="Pizza"><i class="icon  icon-themeenergy_pizza-slice"></i> <span>Pizza</span></a></li>

                        <li class="medium"><a href="recipes.html" title="Kids"><i class="icon icon-themeenergy_happy"></i> <span>Kids</span></a></li>
                        <li class="dark"><a href="recipes.html" title="Meat"><i class="icon icon-themeenergy_meat"></i> <span>Meat</span></a></li>
                        <li class="light"><a href="recipes.html" title="Snacks"><i class="icon icon-themeenergy_fried-potatoes"></i> <span>Snacks</span></a></li>

                        <li class="dark"><a href="recipes.html" title="Salads"><i class="icon icon-themeenergy_eggplant"></i> <span>Salads</span></a></li>
                        <li class="light"><a href="recipes.html" title="Storage"><i class="icon icon-themeenergy_soup2"></i> <span>Soups</span></a></li>
                        <li class="medium"><a href="recipes.html" title="Vegetarian"><i class="icon icon-themeenergy_plant-symbol"></i> <span>Vegetarian</span></a></li>
                    </ul>
                </div>


                <div class="widget members">
                    <h3>Our members</h3>
                    <div id="members-list-options" class="item-options">
                        <a href="#">Newest</a>
                        <a class="selected" href="#">Active</a>
                        <a href="#">Popular</a>
                    </div>
                    <ul class="boxed">
                        {% for u in users %}
                            <li>
                                <div class="avatar"><a href="{% url 'NA_WebApp-show_profile' %}?profileid={{ u.profile.id }}">
                                    <img src=" {{ u.profile.image.url }}" onerror="this.src='/static/NA_WebApp/images/avatar.jpg'" alt=""/><span>{{ u.get_full_name }}</span></a></div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>


            </aside>
        </div>
        <!--//right sidebar-->
    </div>
    <!--//wrap-->

{% endblock content %}

{% block scripts %}

    <script src="../../static/NA_WebApp/js/home.js"></script>
{% endblock scripts %}
